
@import "../css-3rd-party/demo_page.css";
@import "../css-3rd-party/demo_table.css";
@import "../css-3rd-party/bootstrap.css";
@import "./bootstrap_integration.css";
@import "./DT-integrations.css";

.nascosta {
	display: none;
}

#apri-chiudi_tutti {
	text-align: center;
	padding: 3px 10px;
}