<web-app>
	
<!--  SOLO se si usa il tomcat jdbc connection pool	-->
<!-- 
	<resource-ref>
		<description>MSDB Datasource</description>
		<res-ref-name>jdbc/mymsdb</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
-->
<!--	-->  

	<servlet>
		<servlet-name>QueryRunnerServlet</servlet-name>
        <servlet-class>com.github.tosdan.utils.servlets.QueryRunnerServlet</servlet-class>
        
        <init-param>
        	<param-name>file_dbConf</param-name>
        	<param-value>/WEB-INF/dbconf.properties</param-value>
       	</init-param>
       	
        <init-param>
	        <param-name>logFileName</param-name>
	        <param-value>/WEB-INF/WebAppsLogFiles/QueryRunner/logQueryRunner.txt</param-value>
	    </init-param>
        
	</servlet>
    <servlet-mapping>
        <servlet-name>QueryRunnerServlet</servlet-name>
        <url-pattern>/servlet/dtreply/*</url-pattern>
    </servlet-mapping>
    
    
	<servlet>
        <servlet-name>DTReplyServlet</servlet-name>
        <servlet-class>com.github.tosdan.dataTableServerSide.DTReplyServlet</servlet-class>
        
        <init-param>
        	<param-name>file_dbConf</param-name>
        	<param-value>/WEB-INF/dbconf.properties</param-value>
       	</init-param>
       	
        <init-param>
	        <param-name>logFileName</param-name>
	        <param-value>/WEB-INF/WebAppsLogFiles/DTReplyLog/logDtReplyServlet.txt</param-value>
	    </init-param>
        
    </servlet>
    <servlet-mapping>
        <servlet-name>DTReplyServlet</servlet-name>
        <url-pattern>/servlet/dtreply/*</url-pattern>
    </servlet-mapping>
        
        
	<servlet>
        <servlet-name>SqlManagerServlet</servlet-name>
        <servlet-class>com.github.tosdan.utils.servlets.SqlManagerServlet</servlet-class>
        
        <init-param>
	        <param-name>logFileName</param-name>
	        <param-value>/WEB-INF/WebAppsLogFiles/SqlManger/logSqlMangerServlet.txt</param-value>
	    </init-param>
        
        <init-param>
	        <param-name>SqlManagerServletConf_File</param-name>
	        <param-value>/WEB-INF/WebAppsConfigFiles/SqlManager/SqlManagerServletConf.properties</param-value>
	    </init-param>
        
        <init-param>
	        <param-name>SqlManagerServletConf_Path</param-name>
	        <param-value>/WEB-INF/WebAppsConfigFiles/SqlManager</param-value>
	    </init-param>
        
    </servlet>
    <servlet-mapping>
        <servlet-name>SqlManagerServlet</servlet-name>
        <url-pattern>/servlet/sqlmanager/*</url-pattern>
    </servlet-mapping>
        
        
        
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
</web-app>