<?xml version="1.0" encoding="UTF-8"?>
<web-app
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
	id="WebApp_ID" 
	version="2.5">
	
	<display-name>DTServerSideLibrary</display-name>	
        
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

	<context-param>
		<param-name>SqlLoaderConf_File</param-name>
		<param-value>/WEB-INF/WebAppsConfigFiles/SqlLoader/SqlLoaderConf.yml</param-value>
	</context-param>
<!--	-->  
	<filter>
	    <filter-name>NoCacheFilter</filter-name>
	    <filter-class>com.github.tosdan.utils.filters.NoCacheFilter</filter-class>
	</filter>	
	<filter-mapping>	
		<filter-name>NoCacheFilter</filter-name>
<!-- 		<url-pattern>*.jsp</url-pattern> -->
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
<!-- ** FINE Filtri Inizio Servlets ** -->

    
	<servlet>
        <servlet-name>DTReplyServlet</servlet-name>
        <servlet-class>com.github.tosdan.dTReply.DTReplyServlet</servlet-class>
        <init-param>
        	<param-name>file_dbConf</param-name>
        	<param-value>/WEB-INF/dbconf.properties</param-value>
       	</init-param>
        <init-param>
	        <param-name>logFileName</param-name>
	        <param-value>/WEB-INF/WebAppsLogFiles/DTReplyLog/logDtReplyServlet.txt</param-value>
	    </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>DTReplyServlet</servlet-name>
        <url-pattern>/servlet/dtreply/*</url-pattern>
    </servlet-mapping>
        
	
</web-app>